body {
    background-color: blanchedalmond;
}

#display-container {
    border: 5px solid black;
    width: 60%;
    height: 600px;
    margin: 0 auto;
    margin-top: 200px;
    overflow: hidden;
}
