body {
    background-image: url("Resources/baseball.png");
    font-family:Verdana;
    transition: background-image 0.75s;
    background-size: auto;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 45px;
}

h2 {
    display: none;
    justify-content: center;
    text-align: center;
    grid-column: 1 / 4;

}

.input-data {
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    align-items: stretch;
    margin: 0 auto;
}

.input-box {
    text-align: center;
    padding: 4px;
}

.label {
    font-size: 20px;
    padding: 5px;
}

.stats {
    font-size: 18px;
}

#stats-container {
    background-color: rgba(245, 245, 245, 0.908);
    border: 4px solid rgb(0, 0, 0);
    margin: 0 auto;
    width: 60%;
    max-width: 900px;
    margin-top: 200px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.277);
}

#player-choice {
    display: block;
    margin: 0 auto;
    padding: 3px;
}

#batter-stats, #pitcher-stats {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
}

#results-box { 
    display: none;
    justify-content: center;
    justify-items: center;
    text-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
}

#stats-go-here {
    display: inline-block;
    text-align: center;
    grid-column: 1 / 4;
}

#stat-labels, 
#misc-stat-labels,
#misc-stats {
    text-align: center;
    grid-column: 1 / 4;
    padding: 7px;
}


#player-name {
    margin-left: 40%;
    width: 15%;
    text-align: center;
}

#glossary {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

#glossary:hover {
    color:rgba(0, 0, 0, 0.277);

}



@media screen and (min-width: 330px) and (max-width: 1200px) {
    body {
        background-size: stretch;
    }

    .input-box::placeholder {
        font-size: 0.75em;
    }

    #player-name {
        width: 30%;
        margin-left: 30%;
    }

    #stat-container {
        height: auto;
        padding: 4px;
    }
}